.nav-container {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 350px;
  padding: 0px 30px 0px 30px;
  font-family: 'Roboto';
}
.cafe-name {
  font-size: 20px;
}

.order-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.cart-icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.order-name {
  font-size: 16px;
  font-weight: 700;
}

.count-value {
  background-color: #ff6347;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
